@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

body {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#root {
  max-width: 400px;
  width: 100%;
}
@media screen and (min-width: 500px) {
  body {
    margin-top: 15px;
  }
}
.App {
  width: 100%;
  top: 0px;
  font-family: sans-serif;
  text-align: center;
  background: aliceblue;
  padding: 20px;
}
h1 {
  font-size: xx-large;
  color: black;
  font-weight: bold;
}
.input {
  border-radius: 30px;
  padding-left: 20px;
}
.filters {
  padding: 5px 0px 5px 20px;
  border-radius: 20px;
  margin-right: 10px;
  margin-bottom: 30px;
  border: 2px solid lightgray;
}
.filters:hover {
  background-color: rgb(72, 202, 72);
  color: white;
  border: 2px solid green;
}
.house-name {
  line-height: 50px;
  color: black;
  display: block;
}
.house-name:hover {
  background-color: rgb(186, 250, 186);
}
.details-container {
  background-color: rgb(186, 250, 186);
  padding: 60px 30px 50px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.details-input-parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.details-input:hover {
  background-color: rgb(221, 237, 252);
}
.details-page-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.details-page-button {
  padding: 8px 25px;
  font-size: large;
  border-radius: 15px;
  background: rgb(13, 189, 13);
  border: none;
  color: white;
  border-block-end: 3px solid;
  border-block-end-color: green;
}
.details-page-button:hover {
  background-color: rgb(26, 156, 26);
  border-block-end: 4px solid;
  border-block-end-color: green;
}
